*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

#wrapper {
    width: 100%;
    height: 100%;
}

/* Overlay Result */

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
}

.overlay.fade-in {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 1;
  opacity: .9;
}

.normalize {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.positive{
    background: rgb(51, 204, 69);
}

.negative{
    background: rgb(204, 51, 51);
}

.ambiguous {
    background: rgb(52, 52, 204);
}

.win-round, .lose-round, .draw-round, .match-result {
    width: 700px;
    text-align: center;
    margin: 225px auto;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.win-round, .lose-round, .draw-round, .match-result {
    display: none;
}

.big {
    font-size: 100px;
    margin-bottom: 20px;
}

.description {
    font-size: 40px;
}

.match-result img {
    position: absolute;
    bottom: 0;
    left: 33%;
    width: 350px;
    margin: 0 auto;
    display:none;
}

.active, img.active {
    display: block;
}

/* Human Top Half */

main {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

h2 {
    font-size: 45px;
}

.user-choice {
    width: 840px;
    height: 230px;
    margin: 0 auto;
}

.user-choice div{
    width: 270px;
    height: 200px;
    padding-top: 75px;
    margin-right: 15px;
    text-align: center;
    float: left;
}

.user-choice div{
    cursor: pointer;
}

.user-choice div:last-child{
    margin-right: 0px;
}

.user-choice img {
    width: 120px;
}

img.bigger {
    width: 140px;
}

img.smaller {
    width: 110px;
}

.user-choice section {
    height: 5px;
    width: 100%;
}

.rock {
    font-family: 'Merriweather Sans', sans-serif;
    height: 290px;
}

.paper {
    font-family: 'Josefin Sans', sans-serif;
    height: 290px;
}

.scissors {
    font-family: 'Dancing Script', cursive;
    height: 290px;
}

.rise-up{
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin-top: -10px;
    opacity: .6;
}

.descend-down {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    margin-top: 0;
    opacity: 1;
}

.vs {
    width: 100%;
    text-align: center;
    font-size: 80px;
     font-family: 'Josefin Sans', sans-serif;
}

/* Robot Bottom Half */

.computer-choice {
    margin-top: 55px;
}

.computer-choice .image-circle {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid black;
    overflow: hidden;
    background: url('../img/combined.jpg');
    background-position: 0%;
}
